body {
    font-family: 'Noto Serif', serif;
    background: url('https://images.unsplash.com/photo-1530631383307-4a02169e6133?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat fixed center;
    background-size: cover;
    color: #000;
}

h1 {
    color: red;
    border-style: dashed;
    border-width: 5px;
    border-color: red;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: rgb(218, 241, 11);
    text-decoration: none;
    margin: auto;
    vertical-align: 2px;
}

a:hover {
    color: rgb(243, 101, 7);
}


section {
     background: rgba(255,255,255, 0.2)
}

h4 {
     background-color: rgb(247, 7, 7);
     border: 5px groove rgb(187, 57, 57);
     border-radius: 10px;
}
img {
     display: block;
     margin: 0 auto; 
}

p  {
     text-shadow: 0.5px 1px rgb(18, 18, 167);
     margin-left: 50px; /*Commentaires*/
}

h3 {
    text-decoration: underline;
    text-transform: capitalize;
}
